body {
    background-color: #ddd;
    padding-right: 52.5pt;
}

.block {
    display: block;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.end {
    clear: both;
}

.relative {
    position: relative;
}

.fade {
    opacity: 0.3;
}

.w30 {
    width: 30pt;
}

.w75 {
    width: 75pt;
}

.box {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8pt;
    border: 2pt solid #ccc;
    box-shadow: 0pt 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 7.5pt;
    margin: 4.5pt;
}

.tinybox {
    background-color: #efefef;
    box-sizing: border-box;
    border-radius: 3pt;
    border: 1pt solid #aaa;
    box-shadow: 0pt 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 1.5pt;
    margin: 1.5pt;
}

:not(.show) > .slide > .relative > .tinybox {
    display: none;
}

.title {
    font-weight: bold;
    font-size: 20pt;
    margin: 5pt;
}

.slide {
    padding: 1.5pt;
    margin: 7.5pt;
    box-sizing: border-box;
    border: 1pt solid #000;
}

.slide:hover {
    background-color: #EEE;
}

.slideimg {
    z-index: 1;
}

.schedule {
    position: absolute;
    bottom: -3pt;
    right: -3pt;
    z-index: 2;
}

.scheduleform {
    position: absolute;
    left: 100%;
    top: 50%;
    min-width: 200pt;
    z-index: 5;
}

.show {
    float: left;
    z-index: 10;
}

.show:hover {
    background-color: #EEE;
}

#remove {
    background-color: #d00;
}

#settings {
    background-color: #00d;
    display: none;
}

.error {
    position: fixed;
    top: 8pt;
    background-color: #EE9999;
    border: 2pt solid #CC4444;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.sidebar {
    position: fixed;
    bottom: 0pt;
    right: 0pt;
    z-index: 100;
}

.smallbutton {
    height: 18pt;
    cursor: pointer;
}

.divider {
    background-color: #ccc;
    height: 0.75pt;
    width: 100%;
    margin:7.5pt 0 0 0;
    padding: 0pt;
}
