body {
    background-color: #ddd;
    padding-right: 70px;
}

.title {
    font-weight: bold;
    font-size: 20pt;
    margin: 5pt;
}

.slide {
    padding: 8px;
    float: left;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
}

.slide:hover {
    background-color: #EEE;
}

.block {
    display: block;
}

.show {
    float: left;
    z-index: 10;
}

.show:hover {
    background-color: #EEE;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.fade {
    opacity: 0.3;
}

.box {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8pt;
    border: 2pt solid #ccc;
    box-shadow: 0px 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 8pt;
    margin: 5pt;
}

.end {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.inline {
    display: inline;
}

#remove {
    background-color: #d00;
}

#settings {
    background-color: #00d;
    display: none;
}

.error {
    position: fixed;
    top: 8px;
    background-color: #EE9999;
    border: 2px solid #CC4444;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
}

.hidden {
    display: none;
}

.sidebar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100;
}

.button {
    height: 30px;
}

.sizebox {
    vertical-align: middle;
    width: 20%;
}

.smallbutton {
    vertical-align: middle;
    height: 22px;
}
