body {
    background-color: #ddd;
    padding-right: 52.5pt;
    font-size: larger;
    font-family: sans-serif;
}

p {
    margin-top: 7pt;
    margin-bottom: 4.5pt;
}

input[type="text"] {
    background-color: #eee;
    border: 0pt solid #aaa;
    padding: 3pt;
}

.block {
    display: block;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.hidden, input[type="file"], :not(.show) > .slide > .relative > .slidesettings {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.end {
    clear: both;
}

.relative {
    position: relative;
}

.fade {
    opacity: 0.8;
}

.fade:hover {
    opacity: 1.0;
}

.slideimg {
    z-index: 1;
}

.inactive {
    z-index: 2;
}

.active {
    z-index: 3;
}

.w30 {
    width: 30pt;
}

.w75 {
    width: 75pt;
}

.box {
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8pt;
    border: 2pt solid #ccc;
    box-shadow: 0pt 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 7.5pt;
    margin: 4.5pt;
}

.smallbox {
    background-color: #efefef;
    box-sizing: border-box;
    border-radius: 4.5pt;
    border: 1pt solid #aaa;
    box-shadow: 0pt 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 3pt;
    margin: 3pt;
}

.smallbox:active {
    background-color: #afafaf;
}

.tinybox {
    background-color: #efefef;
    box-sizing: border-box;
    border-radius: 3pt;
    border: 1pt solid #aaa;
    box-shadow: 0pt 1pt 3pt rgba(0, 0, 0, 0.1);
    padding: 1.5pt;
    margin: 1.5pt;
}

.tinybox:active {
    background-color: #afafaf;
}

.smallbutton {
    height: 24pt;
    cursor: pointer;
}

.tinybutton {
    height: 18pt;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 20pt;
    margin: 5pt;
}

.slide {
    padding: 1.5pt;
    margin: 7.5pt;
    box-sizing: border-box;
    border: 1pt solid #000;
    border-radius: 3pt;
}

.slide:hover {
    background-color: #EEE;
}

.slidesettings {
    position: absolute;
    top: -2pt;
    right: -2pt;
}

.showsettings {
    position: absolute;
    top: 0pt;
    right: 0pt;
}

.settingsform {
    position: absolute;
    left: 10%;
    top: -10%;
    min-width: 200pt;
    z-index: 50;
}

.show {
    display: inline-block;
    vertical-align: top;
}

.show:hover {
    background-color: #EEE;
}

.error {
    position: fixed;
    top: 8pt;
    background-color: #EE9999;
    border: 2pt solid #CC4444;
    left: 50%;
    transform: translate(-50%);
}

.calendar {
    background: url(./images/calendar.svg) no-repeat right center;
    background-size: 16pt;
}

.sidebar {
    position: fixed;
    bottom: 0pt;
    right: 0pt;
}

.divider {
    background-color: #ccc;
    height: 0.75pt;
    width: 100%;
    margin: 3pt 0 4.5pt 0;
    padding: 0pt;
}

#remove {
    background-color: #d00;
}

#settings {
    background-color: #00d;
    display: none;
}
