<?php

// site language
$language = 'sv';

// site name
$title = 'Slides';

// mysql database credentials
$db_name = 'name';
$db_user = 'user';
$db_pass = 'pass';
$db_host = 'host.net.tld';
$db_port = 3306;

// default height and width of a slideshow
$screen_width = 1920;
$screen_height = 1080;

// default time between switching images
$timeout = 300;

// height and width to scale the admin page thumbnails to
$thumb_width = 192;
$thumb_height = 108;

?>
